{% use "ThinkCreativeCoreBundle::general_blocks.html.twig" %}
{% block document %}
<!DOCTYPE html>
{% block html_definition %}<html {% block html_attributes %}lang="{{ app.request.locale|split("_")[0] }}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale|split("_")[0] }}"{% endblock %}>{% endblock %}

<head>
{% block head %}
{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="{{ block('page_title') }}" />
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
<meta name="description" content="{% block meta_description %}{% endblock %}" />
{% endblock %}
{% block document_title %}
<title>{{ block('page_title') }}{{ pagedata.project_name ? (' | ' ~ pagedata.project_name) : '' }}</title>
{% endblock %}
{% block shortcut_icons %}{% endblock %}
{% block head_content %}{% endblock %}
{% block webfonts %}{% endblock %}
{% block stylesheets %}
{% stylesheets output='css/main.css' '@stylesheets' %}<link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>{% endstylesheets %}
{% endblock %}
{% block javascript_head %}{% endblock %}
{% endblock %}
</head>

<body class="{{ (pagedata.is_homepage is defined and pagedata.is_homepage) ? 'homepage' : 'subpage' }}{% block body_class_list %}{% endblock %}"{% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}

{% block javascript %}
{% javascripts output='javascript/main.js' '@javascript_library' '@javascript' %}
<script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
{% endjavascripts %}
{% endblock %}
</body>

</html>
{% endblock %}